# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Data & artifacts
artifacts/
data/
checkpoints/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
